*, *:before, *:after
  box-sizing: border-box

html
  font-size: 14px
  
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem

img
  max-width: 100%

.row
  display: flex
  justify-content: space-around
  padding-top: 2rem  

.section
  padding: 2rem 0
  &-title
    text-align: center
    font-family: 'Yeseva One', cursive
    text-transform: uppercase
    &__heading
      margin: 0
      padding: 2rem 0
      font-size: 2.5rem
      font-weight: normal
    &__img
      display: flex
      justify-content: center
      align-items: center
      padding-bottom: 2rem
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        margin: 0 10px
        background-color: $primary
  &-description
    &__text
      margin: 0 auto
      font-family: 'Futura Book', serif
      font-size: 1.43rem
      text-align: center
        
        