.footer
  width: 100%
  left: 0
  bottom: 0
  background-color: $dark
  color: $light
.contacts
  &__title
    margin: 0
    font-family: 'Yeseva One', serif
    font-weight: normal
    text-transform: uppercase
    color: $primary
  &__item
    display: block
    margin: 0.4rem 0
    color: $light
    text-decoration: none 
