.col-50
  flex-basis: 48%
.card
  &__title
    font-family: 'Yeseva One', cursive 
    font-size: 1.70rem
    font-weight: normal
  &__text
    position: relative
    width: 23.6rem
    margin: 0 auto
    margin-top: -4rem
    padding: 1.79rem 2.14rem
    background-color: #fff
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__list
    margin: 0 0 0 1rem
    padding: 0
    font-size: 1.50rem
    line-height: 2rem
    color: $secondary
  &__image
    width: 100%  